* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  #main {
    background-color:lightgray;
  }
  #title {
    text-align:center;
    font-size:32px;
    padding:15px 0;
  }
  #alt-title {
    text-align:center;
    padding:5px 0;
  }
  #container {
    background-color: lightgray;
    transition: all 0.5s ease-out;

  }
  #container:hover {
    background-color: lightgreen;
    text-shadow: 2px 2px 4px lightpink;
    color: darkmagenta;
  }
  #img-div {
    background-color:white;
  }
  img{
    display:block;
    transition: all 0.8s ease-out;
  }
  #image:hover{
    scale:1.03;
  }
  #image {
    max-width:100%;
    height:auto;
    margin:auto;
    padding:30px;
  }
  #img-caption {
    text-align:center;padding-bottom:15px;
  }
  #headline {
    padding-top:30px;
    text-align:center;
  }
  #tribute-info {
  margin:30px 70px;
  }
  
  ul li {
  margin:10px;
  }
  
  #quote {
    margin: 20px 0;
    font-style:italic;
  }
  #altbottom {
  padding: 35px 0;
  }
  #container2{
    transition: all 0.5s ease-out;
  }
  #container2:hover{
    color: darkgreen;
  }